/*  your css code here. If applicable */
#buttons {
	background-color :#a164df; 
/* 	width: 100%; */
	padding: 50px;
	display: flex;
	justify-content: space-between;
}

.btn {
	background-color: #663399;
	padding: 15px;
	border: none;
	color: white;
}