/*  your css code here. If applicable */
body{
	background-color: mediumpurple;
	
}
#buttons{
	display:flex;
	top: 50%;
	left: 50%;
	
	justify-content: center;
	align-items:center;
}
.btn, .stop{
	background-color:rebeccapurple;
	width: 10%;
	color: white;
	text-align:center;
	padding: 10px;
	border: none;
	margin: 20px;
	border-radius: 5px;
}